<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
      Safety Tips
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
      <ion-card>
          <div class="login-box">
              <ion-row>
                <ion-col>
                  <ion-list inset>
      
                    <ion-item>
                       <ion-label><ion-icon name="bookmark"></ion-icon> </ion-label>When you are walking on a road, keep your mobile phone handy but avoid using it. Being on the phone makes you less alert. 
                    </ion-item>
                    <br>
                    <br>
                    <ion-item>
                        When you are travelling in an auto alone, make sure you share the auto number with someone in your family even if it’s during the day.
                    </ion-item>
                    <br>
                    <br>
                    <ion-item>
                        If you have booked a cab, always share your coordinates with someone. 
                    </ion-item>
                    <br>
                    <br>
              </ion-list>
                </ion-col>
              </ion-row> 
          </div>
        </ion-card>

</ion-content>
