<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="login-content" padding>
  <!--<ion-row class="logo-row" color="primary">
    <ion-col>
      <ion-title align="center" >
        Login
      </ion-title>
    </ion-col>
  </ion-row>-->

  <ion-card>
    <div class="login-box">
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="username" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required></ion-input>
              </ion-item>

              <!--<ion-item>
                <ion-label>Remember Me</ion-label>
                <ion-checkbox (ionChange)="updateStatus()" checked="true"></ion-checkbox>
              </ion-item>-->


            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="signup-col">
            <!--<button ion-button  expand="full" type="submit" [disabled]="!loginForm.form.valid">Login</button>-->
            <ion-button expand="full" (click)="login()">Login</ion-button>
          </ion-col>
        </ion-row>

    </div>
    <ion-row>
      <ion-item  href="/signup" >
        <ion-label>Register new user?</ion-label>
      </ion-item>
    </ion-row>
  </ion-card>

</ion-content>